nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.img-hero {
    width: 100%;
}

.img-11-s {
    width: 33%;
}

.img-11-l {
    width: 50%;
}

.img-21-s {
    width: 66%;
}
.icon-social {
    width: 24px;
    height: 24px;
    margin: 8px;
}

figure {
    margin: 0;
}
figcaption {
    margin-bottom: 1rem;
}

.footer {
    margin-top: 2rem;
}