/* Variablen Definitionen */
:root {
  /* Hintergrundfarbe */
  --white: #fcfcfc;
  /* Textfarbe */
  --graphit: #222222;

  --terra: #c17c52;

  /* Hover Farbe */
  --petrol: #4f6d7a;

  --blue: #7a889a;
  --beige: #d4b996;

  /* Animationszeit */
  --transistion-time: 300ms;
  /* maximale Breite der Darstellung */

  --maxwidth: 1200px;

  --flex-item-4-width: calc((var(--maxwidth) / 4) - 2rem);

  /*Schriftgröße mobile */
  --font-mobile: 15px;
  /* Schriftgröße tablet */
  --font-tablet: 16px;
  /* Laptop */
  --font-laptop: 17px;
}

body {
  margin: 0px;
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2vw;
  padding-right: 2vw;
}

/* Sticky Header */
header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 2;
}

/* Top Navigation */
.topnav {
  list-style-type: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
}

/* Hero Container */
.hero-outer {
  margin-top: 84px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
}

/* Hero Bild */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url("img/hero-home-1920.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Position Hero Text */
.hero-text {
  text-align: left;
  position: absolute;
  top: calc(500px - 5vw);
  left: 6%;
  transform: translate(-0%, -50%);
  color: var(--white) !important;
  line-height: 1;
}

/* Inner Container mit Hero Bild */
.inner {
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
  padding-top: 4rem;
  position: relative;
  z-index: 1;
}

/* Inner Container ohne Hero Bild */
.inner-single {
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
  padding-top: 82px;
  position: relative;
  z-index: 1;
}

/* Seitentitel als Hero Text */
h1 {
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--white);
  font-style: bold;
}

/* Seitentitel ohne Hero Bild*/
h1.single-title {
  color: var(--graphit);
  font-size: 2.25rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 0;
  font-style: bold;
}

/* Überschrift H2 */
h2 {
  padding-top: 2rem;
  padding-bottom: 1.0rem;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--graphit);
  font-style: bold;
}

/* Überschrift H2 für Textblöcke */
h2.heading-text-only {
  padding-top: 0rem;
  padding-bottom: 1rem;
  font-style: bold;

}

/* Überschrift H3 */
h3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0;
  font-size: 1.25rem;
  text-transform: none;
  font-style: bold;
  color: var(--graphit);
}

h4 {
  margin: 0;
  font-size: 1 rem;
  font-style: bold;
  color: var(--graphit);

}

/* Absatz */
p {
  font-size: var(--font-mobile);
  color: var(--graphit);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  line-height: 1.5;
}

/* Adresse */
address {
  font-size: var(--font-mobile);
  color: var(--graphit);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  line-height: 1.5;
  font-style: normal;
}

/* Link */
a {
  color: var(--graphit);
  font-size: var(--font-mobile);
}

/* Link Hover */
a:hover {
  color: var(--blue);
}

/* fett gedruckt */
.bold {
  font-weight: bold;
}

/* Ausrichtung zentriert */
.center {
  text-align: center;
}

/* Link als Button */
.button-link {
  font-size: var(--font-mobile);
  background-color: var(--graphit);
  color: var(--white);
  padding: 0.6rem 1.3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  text-decoration: none;
  transition: var(--transistion-time);
  text-transform: uppercase;
}

.button-link:hover {
  background-color: var(--petrol);
  color: var(--white);
}

/* Link als Navigations-Button */
.button-nav {
  font-size: var(--font-mobile);
  color: var(--graphit);
  border: 1px solid var(--graphit);
  padding: 0.6rem 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  transition: var(--transistion-time);
  text-transform: uppercase;
  display: inline-block;
}

.button-nav:hover {
  color: var(--white);
  border: 1px solid var(--petrol);
  background-color: var(--petrol);
}

/* kein Abstand */
.mtb-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Abstand unten und oben klein*/
.mtb-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Abstand oben 0 und unten größer*/
.mtb-2 {
  padding-top: 0px;
  padding-bottom: 1rem;
}

/* Navigationsleiste */
nav {
  list-style-type: none;
  background-color: var(--white);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

/* Link in Navigationsleiste */
nav a {
  color: var(--graphit);
  padding: 0rem;
  margin-right: 4rem;
  text-decoration: none;
  transition: var(--transistion-time);
  font-size: 18px;
}

/* Link in Navigationsleiste Hover */
nav a:hover {
  color: var(--blue);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-flex {
  display: flex;
  padding-top: 0rem;
  margin-bottom: 0rem;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2rem;
}

.flex-item-3 {
  margin: 0rem 0rem;
  width: 100%;
}

.flex-item-feauture {
  margin: 0px 0rem;
  width: 100%;
}

/* Grid mit 4 Spalten */
.grid-4 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2rem;
  column-gap: 2%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Grid mit 3 Spalten */
.grid-3 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 0rem;
  column-gap: 2%;
}

/* Grid für 33% Bild links und 50% Text rechts */
.grid-3350 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 0rem;
  column-gap: 2%;
}

/* Grid mit 2 Spalten */
.grid-2 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 0rem;
  column-gap: 2%;
}


/* nur 1 Spalte mit 50% für Texte */
.single-column {
  width: 100%;
  max-width: calc(var(--maxwidth)/2);
}

/* Abschnittstrenner mit Linie */
.line {
  height: 0.5px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--graphit);
  max-width: 66vw;
  margin-left: auto;
  margin-right: auto;
}

/* Abschnittstrenner mit Linie im Grid  */
.line-grid {
  height: 0.5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--graphit);
}

/* Audio Player*/
audio {
  width: 100%;
  height: 32px;
}

.img-11-s {
  width: 100%;
}

.img-11-l {
  width: 100%;
}

.img-21-s {
  width: 100%;
}

.icon-social {
  width: 24px;
  height: 24px;
  margin: 0px;
}

figure {
  margin: 0;
  max-width: fit-content;
}

figcaption {
  margin-bottom: 0rem;
}

footer {
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
}

.grid-footer {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 0rem;
  column-gap: 2%;
}

.footer-social-icons a {
  margin-right: 2rem;
}

@media only screen and (min-width: 577px) {
  .section-flex {
    padding-top: 0rem;
  }

  .flex-item-3 {
    width: 48% !important;
  }

  .flex-item-feature {
    width: 48% !important;
  }

  .grid-4 {
    grid-template-columns: 49% 49%;
    row-gap: 2rem;
    margin-bottom: 3rem;
  }

  .grid-3 {
    grid-template-columns: 49% 49%;
    row-gap: 1rem;
  }

  .grid-3350 {
    grid-template-columns: 49% 49%;
  }

  .grid-2 {
    grid-template-columns: 49% 49%;
  }

  h1 {

    margin-bottom: 0rem;
  }

  h1.single-title {
    font-size: 2.5rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 2rem;
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }

  p {
    font-size: var(--font-tablet);
  }

  address {
    font-size: var(--font-tablet);
  }

  a {
    font-size: var(--font-tablet);
  }

  .line {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .mtb-1 {
    padding-top: 0.75 rem;
    padding-bottom: 0.75 rem;
  }

  .mtb-2 {
    padding-top: 0px;
    padding-bottom: 2rem;

  }

  .button-link {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
  }

  footer {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .grid-footer {
    display: grid;
    grid-template-columns: 40%;
    row-gap: 0rem;
    column-gap: 2%;
  }
}


@media only screen and (min-width: 825px) {

  .section-flex {
    padding-top: 0rem;
    column-gap: 2rem;

  }

  .flex-item-3 {
    width: 365px !important;
  }

  .flex-item-feature {
    width: 380px;
  }

  .grid-4 {
    margin-bottom: 4rem;
    grid-template-columns: 32.5% 32.5% 32.5%;
    column-gap: 1.5%;
  }

  .grid-3 {
    grid-template-columns: 32% 32% 32%;
  }

  .grid-3350 {
    grid-template-columns: 33% 50%;
    column-gap: 5%;
  }

  h1.single-title {
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: var(--font-laptop);
  }

  address {
    font-size: var(--font-laptop);
  }

  a {
    font-size: var(--font-laptop);
  }

  .line {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .mtb-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .button-link {
    margin-right: 1rem;
    margin-bottom: 0rem;
  }

  footer {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@media only screen and (min-width: 1025px) {
  .grid-4 {
    grid-template-columns: 24% 24% 24% 24%;
  }
}