.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url("img/hero-about-1920.jpg");

}

textarea#message {

  width: 330px;
  resize: vertical;

}

@media only screen and (min-width: 577px) {

  textarea#message {
    width: 500px;
  
  }

}

@media only screen and (min-width: 825px) {

  textarea#message {
    width: 750px;
  
  }

}