:root {
  --white: #fcfcfc;
  --graphit: #222222;
  --terra: #c17c52;
  --petrol: #4f6d7a;
  --blue: #7a889a;
  --beige: #d4b996;
  --transistion-time: 300ms;
  --maxwidth: 1200px;
  --flex-item-4-width: calc((var(--maxwidth) / 4) - 2rem);

}

body {
  margin: 0px;
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2vw;
  padding-right: 2vw;
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;

}

header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

}

.topnav {
  list-style-type: none;
  padding-top: 2rem;
  padding-bottom: 2rem;


}

.hero-outer {
  margin-top: 84px;
  background-color: var(--graphit);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;

}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url("img/hero-home-1920.jpg");

  /* Set a specific height */
  height: 600px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

.hero-text {
  text-align: left;
  position: absolute;
  top: calc(500px - 5vw);
  left: 6%;
  transform: translate(-0%, -50%);
  color: var(--white) !important;
  line-height: 1;

}

.inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
  padding-top: 4rem;
  position: relative;
  z-index: 1;
}
.inner-single {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
  padding-top: 82px;
  position: relative;
  z-index: 1;
}

h1 {
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--white);
}

h1.single-title {
color: var(--graphit);
font-size: 2.25rem;
}

h2 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--graphit);
}

h3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0;
  font-size: 17px !important;
  text-transform: none;
  color: var(--graphit);
}

p {
  font-size: 15px;
  color: var(--graphit);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  line-height: 1.5;
}

a {
color: var(--graphit);
}

a:hover {
  color: var(--blue);
  }

.bold {
  font-weight: bold;
}

.button-link {
  font-size: 15px;
  background-color: var(--graphit);
  color: var(--white);
  padding: 0.6rem 1.3rem;
  margin-right: 1rem;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  transition: var(--transistion-time);
  text-transform: uppercase;
}

.button-link:hover {
  background-color: var(--petrol);
  color: var(--white);
}

.button-nav {
  font-size: 15px;
  color: var(--graphit);
  border: 1px solid var(--graphit);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  transition: var(--transistion-time);
  text-transform: uppercase;
}

.button-nav:hover {
  color: var(--white);
  border: 1px solid var(--petrol);
  background-color: var(--petrol);


}

.center {
  text-align: center;
}

.mtb-0 {
  padding-top: 0px;
  padding-bottom: 0px;

}

.mtb-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.mtb-2 {
  padding-top: 0px;
  padding-bottom: 2rem;

}

nav {
  list-style-type: none;
  background-color: var(--white);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

nav a {
  color: var(--graphit);
  padding: 0rem;
  margin-right: 2rem;
  text-decoration: none;
  transition: var(--transistion-time);
}

nav a:hover {
  color: var(--blue);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.section-flex {
  display: flex;
  padding-top: 0rem;
  margin-bottom: 0rem;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2rem;
}

.flex-item-3 {
  margin: 0rem 0rem;
  width: 100%;
}

.flex-item-feauture {
  margin: 0px 0rem;
  width: 100%;
}

/* Grid mit 4 Spalten */
.grid-4 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2rem;
  column-gap: 2%;

}


/* Grid mit 3 Spalten */
.grid-3 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
  column-gap: 2%;
}

/* Grid für 33% Bild links und 50% Text rechts */
.grid-3350 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
  column-gap: 2%;
}

/* Grid mit 2 Spalten */
.grid-2 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
  column-gap: 2%;
}


/* nur 1 Spalte mit 50% für Texte */
.single-column {
  width: 100%;
  max-width: calc(var(--maxwidth)/2);
}

/* Abschnittstrenner mit Linie */
.line {
  height: 0.5px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: var(--graphit);
  max-width: 66vw;
  margin-left: auto;
  margin-right: auto;
}

.line-small {
  height: 0.5px;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: var(--graphit);
  max-width: 66vw;
  margin-left: auto;
  margin-right: auto;
}


.line-grid {
  height: 0.5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--graphit);
}

/* Audio Player*/
audio {
  width: 100%;
  height: 32px;
}

.img-11-s {
  width: 100%;
}

.img-11-l {
  width: 100%;
}

.img-21-s {
  width: 100%;
}

.icon-social {
  width: 24px;
  height: 24px;
  margin: 8px;
}

figure {
  margin: 0;
  max-width: fit-content;
}

figcaption {
  margin-bottom: 0rem;
}

footer {
  margin-top: 2rem;

}

@media only screen and (min-width: 577px) {
  .section-flex {
    padding-top: 0rem;
  }

  .flex-item-3 {
    width: 48% !important;
  }

  .flex-item-feature {
    width: 48% !important;
  }

  .grid-4 {
    grid-template-columns: 49% 49%;
  }
  .grid-3 {
    grid-template-columns: 49% 49%;
  }

  .grid-3350 {
    grid-template-columns: 49% 49%;
  }

  .grid-2 {
    grid-template-columns: 49% 49%;
  }


  h1 {
  
    margin-bottom: 0rem;
  }

  h1.single-title {
    font-size: 2.5rem;
    }

  h2 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  p {
    font-size: 16px;
  }

  .mtb-1 {
    padding-top: 0.75 rem;
    padding-bottom: 0.75 rem;
  }
}


@media only screen and (min-width: 825px) {

  .section-flex {
    padding-top: 0rem;
    column-gap: 2rem ;

  }

  .flex-item-3 {
    width: 365px !important; 
  }

  .flex-item-feature {
    width: 380px;
  }

  .grid-4 {
    margin-bottom: 4rem;
    grid-template-columns: 32.5% 32.5% 32.5%;
    column-gap: 1.5%;
  }

  .grid-3 {
    grid-template-columns: 32% 32% 32%;
  }

  .grid-3350 {
    grid-template-columns: 33% 50%;
    column-gap: 5%;
  }

  h1.single-title {
    font-size: 3rem;
    }

  h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 17px;
  }
  .mtb-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  
  }

  @media only screen and (min-width: 1025px) {
    .grid-4 {
      grid-template-columns: 24% 24% 24% 24%;
    }
  }

}