<h2>Concerts</h2>
<article class="grid-table-container">
    <section class="grid-table-row mtb-0">
        <h3 class="bold mtb-0">
            Date
        </h3>
        <h3 class="bold mtb-0">
            Show
        </h3>
        <h3 class="bold mtb-0">
            City
        </h3>
        <h3 class="bold mtb-0">
            Venu
        </h3>
        <h3 class="bold mtb-0">
            Ticket
        </h3>
    </section>
    <hr class="table-line">
    <section class="grid-table-row mtb-0">
        <p class="mtb-0">
            2025-05-23
        </p>
        <p class="mtb-0">
           DJ
        </p>
        <p class="mtb-0">
            Dresden
        </p>
        <p class="mtb-0">
            Sektor Evolution
        </p>
        <p class="mtb-0">
            coming soon
        </p>
    </section>
    <hr class="table-line">
    <section class="grid-table-row mtb-0">
        <p class="mtb-0">
            2025-11-07
        </p>
        <p class="mtb-0">
            Live
        </p>
        <p class="mtb-0">
            Dresden
        </p>
        <p class="mtb-0">
            DAVE Festival
        </p>
        <p class="mtb-0">
            coming soon
        </p>
    </section>
    <hr class="table-line">
</article>