<h2>Concerts</h2>
<article class="grid-table-container" >
    <div class="grid-table-row">
        <h3>
            Date
        </h3>
        <h3>
            Show
        </h3>
        <h3>
            City
        </h3>
        <h3>
            Venu
        </h3>
        <h3>
            Ticket
        </h3>
    </div>
    <hr class="table-line">
    <div >
        <div class="grid-table-row">
            <p>
                2025-05-23
            </p>
            <p>
                DJ
            </p>
            <p>
                Dresden
            </p>
            <p>
                Sektor Evolution
            </p>
            <p>
                coming soon
            </p>
        </div>
        <hr class="table-line">
        <div class="grid-table-row">
            <p>
                2025-11-07
            </p>
            <p>
                Live
            </p>
            <p>
                Dresden
            </p>
            <p>
                DAVE Festival
            </p>
            <p>
                coming soon
            </p>
        </div>
        <hr class="table-line">
    </div>