<div class="line"></div>
<div class="grid-footer">
    <!-- Footer Navigation-->
    <nav class="footer-nav" aria-label="footer navigation">
        <a class="footer-nav-item" href="privacy.html">Privacy</a>
        <a class="footer-nav-item" href="imprint.html">Imprint</a>
        <a class="footer-nav-item" href="contact.html">Contact</a>
    </nav>
    <!-- Social Navigation-->
    <nav aria-label="social navigation" class="footer-social-icons">
        <a href="https://insecto.bandcamp.com/" aria-label="follow me on bandcamp"><img
                src="img/icons/icon-bandcamp-64.png" class="icon-social" alt="bandcamp logo"
                title="bandcamp"></a>
        <a href="https://www.facebook.com/insecto.official" aria-label="follow me on facebook"><img
                src="img/icons/icon-facebook-64.png" class="icon-social" alt="facebook logo"
                title="facebook"></a>
        <a href="https://www.instagram.com/insecto_music/?hl=de" aria-label="follow me on instagram"><img
                src="img/icons/icon-instagram-64.png" class="icon-social" alt="instagram logo"
                title="instagram"></a>
        <a href="https://open.spotify.com/intl-de/artist/3DvAgRmwCrUUlnvqASCdDB"
            aria-label="follow me on spotify"><img src="img/icons/icon-spotify-64.png" class="icon-social"
                alt="spotify logo" title="spotify"></a>
        <a href="https://www.youtube.com/@insecto.3725" aria-label="follow me on youtube"><img
                src="img/icons/icon-youtube-64.png" class="icon-social" alt="youtube logo" title="youtube"></a>
    </nav>
</div>

<!--Copyight-->
<p class="center mtb-1">Copyright Oliver Hartmann 2025</p>