<div class="grid-footer">
        <!-- Footer Navigation-->
        <nav class="footer-nav" aria-label="footer navigation">
                <a class="footer-nav-item" href="privacy.html">Privacy</a>
                <a class="footer-nav-item" href="imprint.html">Imprint</a>
                <a class="footer-nav-item" href="contact.html">Contact</a>
        </nav>
        <!-- Social Navigation-->
        <nav aria-label="social navigation" class="footer-social-icons">
                <a href="https://insecto.bandcamp.com/" aria-label="follow me on bandcamp"> <i
                                class="fa-brands fa-bandcamp icon-social" alt="bandcamp logo"></i></a>
                <a href="https://www.facebook.com/insecto.official" aria-label="follow me on facebook"><i
                                class="fa-brands fa-facebook icon-social" alt="faceboook logo"></i></a>
                <a href="https://www.instagram.com/insecto_music/?hl=de" aria-label="follow me on instagram"><i
                                class="fa-brands fa-instagram icon-social" alt="instagram logo"></i></a>
                <a href="https://open.spotify.com/intl-de/artist/3DvAgRmwCrUUlnvqASCdDB"
                        aria-label="follow me on spotify"><i class="fa-brands fa-spotify icon-social"
                                alt="spotify logo"></i></a>
                <a href="https://www.youtube.com/@insecto.3725" aria-label="follow me on youtube"><i
                                class="fa-brands fa-youtube icon-social" alt="youtube logo"></i></a>
        </nav>
</div>

<!--Copyight-->
<p class="center mtb-1">Copyright Oliver Hartmann 2025</p>