<nav class="topnavbar" aria-label="top navigation">
    <a href="index.html">Insect O.</a>
    <ul id="topnavmenu" aria-label="menu">
        <li><a href="releases.html">Releases</a></li>
        <li><a href="live.html">Live</a></li>
        <li><a href="studio.html">Studio</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
    <a href="javascript:void(0);" onclick="mobileMenu()" id="hamburger-menu" role="button"
        aria-label="Hamburger icon to toggle mobile menu on/off" aria-expanded="false">
        <i class="fa-solid fa-bars" id="hamburger-icon"></i>
    </a>
</nav>