<nav class="topnavbar">
    <a href="../index.html">Insect O.</a>
    <ul id="topnavmenu" aria-label="menu">
        <li><a href="../music.html">Music</a></li>
        <li> <a href="../live.html">Live</a></li>
        <li> <a href="../studio.html">Studio</a></li>
        <li> <a href="../about.html">About</a></li>
    </ul>
    <a href="javascript:void(0);" onclick="mobileMenu()" id="hamburger-icon" role="button"
        aria-label="Hamburger icon to toggle mobile menu on/off" aria-expanded="false" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
    </a>
</nav>