<nav class="topnavbar">
    <a href="../index.html">Insect O.</a>
    <nav id="topnavmenu" aria-label="top navigation">
        <a href="../releases.html">Releases</a>
        <a href="../live.html">Live</a>
        <a href="../studio.html">Studio</a>
        <a href="../about.html">About</a>
    </nav>
    <a href="javascript:void(0);" onclick="mobileMenu()"  id="hamburger-menu" role="button" aria-label="Hamburger icon to toggle mobile menu on/off">
        <i class="fa-solid fa-bars" id="hamburger-icon" ></i>
    </a>
</nav>