/* Variablen Definitionen */
:root {
  /* Farbthema */
  --white: #fcfcfc;
  --graphit: #222222;
  --petrol: #4f6d7a;
  --silver: #eeeeee;
  --black: #010101;
  --dark-grey: #333333;
  --light-grey: #bbbbbb;

  /* NOCH NICHT VERWENDET*/
  --blue: #7a889a;
  --beige: #d4b996;
  --terra: #c17c52;

  /* Hauptfarbe */
  --color-main: var(--white);

  --color-text: var(--light-grey);

  --color-main-title: var(--white);

  /* Hintergrundfarbe */
  --color-bg: var(--black);

  /* Hover Farbe */
  --color-highlight: var(--petrol);

  --color-secondary-background: var(--silver);

  --color-decoration: var(--dark-grey);

  /* Animationszeit */
  --transistion-time: 300ms;

  /* maximale Breite der Darstellung */
  --maxwidth: 1200px;

  /*Schriftgröße mobile */
  --font-mobile: 15px;
  /* Schriftgröße tablet */
  --font-tablet: 17px;
  /* Laptop */
  --font-laptop: 18px;

}

/*++++++++++++++++++++++++++++++*/
/*                              */
/* Basic Layout - mobile first  */
/*                              */
/*++++++++++++++++++++++++++++++*/

body {
  margin: 0px;
  background-color: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;

}

/* Sticky Header */

header {
  background-color: var(--color-bg);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

}

/* Top Navigation Container Mobile */

.topnav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 0rem;
  display: grid;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 4rem;
  width: fit-content;
  padding-left: 3vw;
  padding-right: 3vw;

}

/* Top Navigation Menü Link Liste Mobile */

#topNav {
  display: none;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 2rem;
}

/* Top Navigation Menü Link */

.topnav a {
  padding-bottom: 0rem;
  color: var(--color-main);
  margin-right: 0rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-transform: uppercase;
}


/* Farbe und Schriftgröße für alle Navigations Items */

nav a {
  color: var(--color-main);
  text-decoration: none;
  transition: var(--transistion-time);
  font-size: 1.125rem;
  text-transform: uppercase;
}

/* Link in Navigations Items Hover */

nav a:hover {
  color: var(--color-highlight);
  text-decoration: underline;
}

/* Hamburger Menu Icon für Mobile Menu */

#hamburger-menu {
  font-size: 24px !important;
  top: 0px;
  position: absolute;
  right: 0px;
  margin-top: 1.8rem;
  display: block;
  margin-right: 3vw;
}

/* Hero Container */

.hero-outer {
  margin-top: 84px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  padding-left: 0vw;
  padding-right: 0vw;
}

/* Hero Bild */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url("../img/hero-home-1920.jpg");
  height: calc(100vw + 25px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Position Hero Text */

.hero-text {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  width: 100%;
}

/* Inner Container mit Hero Bild */

.inner {
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-bg);
  padding-top: 4rem;
  position: relative;
  z-index: 1;
  padding-left: 3vw;
  padding-right: 3vw;
}

/* Inner Container ohne Hero Bild */

.inner-single {
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-bg);
  padding-top: 82px;
  position: relative;
  z-index: 1;
  padding-left: 3vw;
  padding-right: 3vw;
}

/* Seitentitel als Hero Text */

h1 {
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 7rem);
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--color-main-title);
  letter-spacing: -0.02em;
  font-family: "Roboto";
  font-weight: 100;
}

/* Seitentitel ohne Hero Bild*/

h1.single-title {
  color: var(--color-bg);
  font-size: clamp(2rem, 5vw, 4rem);
  letter-spacing: -0.02em;
  font-family: "Roboto";
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

/* Überschrift H2 */

h2 {
  padding-bottom: 1.0rem;
  margin: 0;
  font-size: clamp(2rem, 5vw, 4rem);
  text-transform: uppercase;
  color: var(--color-main);
  letter-spacing: -0.02em;
  font-family: "Roboto";
  font-weight: 300;
}

/* Überschrift H2 für Textblöcke */

h2.heading-text-only {
  padding-top: 0rem;
  padding-bottom: 1rem;
}

/* Überschrift H3 */

h3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0;
  font-size: var(--font-mobile);
  text-transform: uppercase;
  color: var(--color-main);
  font-family: "Roboto";
  letter-spacing: 0.02em;

}

/* Überschrift H3 */

h3.grid-item-title {
  text-align: center;
  font-size: var(--font-mobile);
  line-height: 1.5;
  font-weight: 400;
}

/* Überschrift H4 */

h4 {
  margin: 0;
  font-size: 1rem;
  color: var(--color-main);
}

/* Absatz */

p {
  font-size: var(--font-mobile);
  color: var(--color-text);
  padding-top: 0.0rem;
  padding-bottom: 1rem;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto";
  font-weight: 300;
}

/* Adresse */

address {
  font-size: var(--font-mobile);
  color: var(--color-text);
  padding-top: 0rem;
  padding-bottom: 1rem;
  margin: 0;
  line-height: 1.5;
  font-family: "Roboto";
  letter-spacing: 0.02em;
  font-weight: 300;
}

/* Link */

a {
  color: var(--color-main);
  font-size: var(--font-mobile);
  transition: var(--transistion-time);
  word-break: break-word;
  letter-spacing: 0.02em;
}

/* Link Hover */

a:hover {
  color: var(--color-highlight);
}

/* Link mit Icon .............................*/

.grid-link {
  text-decoration: none;
}


/* Link mit Icon */

.link-with-icon {
  text-decoration: none;
  display: inline-block;
}

a.link-with-icon:hover {
  padding-left: 4px;
  transition: var(--transistion-time);
}

/* Icon im Button */

i.button {
  padding-right: 1rem;
}

/* Icon rechts neben Link */

i.link {
  padding-left: 0.5rem;
}

i.grid {
  padding-top: 0.5rem;
  text-align: right;
  padding-right: 1rem;
}

/* fett gedruckt */

.bold {
  font-weight: 600;
}

/* Ausrichtung zentriert */

.center {
  text-align: center;
}

/* Link als Button */

.button-link {
  font-size: var(--font-mobile);
  background-color: var(--color-main);
  color: var(--white);
  padding: 0.6rem 1.3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  text-decoration: none;
  transition: var(--transistion-time);
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

/* Link als Button - Hover*/

.button-link:hover {
  background-color: var(--color-highlight);
  color: var(--color-bg);
}

/* Link als Navigations-Button */

.button-nav {
  font-size: var(--font-mobile);
  color: var(--color-main);
  border: 1px solid var(--color-main);
  padding: 0.6rem 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  transition: var(--transistion-time);
  text-transform: uppercase;
  display: inline-block;

}

/* Link als Navigations-Button - Hover */

.button-nav:hover {
  color: var(--white);
  border: 1px solid var(--color-highlight);
  background-color: var(--color-highlight);
}

/* Spacer kein Abstand */

.mtb-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Spacer Abstand unten und oben klein*/

.mtb-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Spacer Abstand oben 0 und unten größer*/
.mtb-2 {
  padding-top: 0px;
  padding-bottom: 1rem;
}

/* unsortierte Liste ohne Punkte */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


section {
  background-color: var(--color-bg);
  padding-top: 8%;
  padding-bottom: 8%;
}

/* Grid für bis zu 4 Spalten */

.grid-4 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2rem;
  column-gap: 2%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Grid Container für Concert Dates */

.grid-table-container {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 0rem;
}

/* Grid Items für Concert Dates */

.grid-table-row {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 1rem;
  padding: 0;
}

/* Grid mit bis zu 3 Spalten */

.grid-3 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 0rem;
  column-gap: 2%;
}

/* Grid für 40% Bild links und 40% Text rechts (vorher 33% und 50% */

.grid-3350 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2rem;
  column-gap: 5%;
}

/* Grid mit bis zu 2 Spalten */

.grid-2 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2rem;
  column-gap: 2%;
}


/* Grid Feature mit bis 2 Spalten */

.grid-2-feature {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2%;
  background-color: var(--color-secondary-background);
  padding-bottom: 1rem;
  row-gap: 2rem;
  margin-bottom: 2rem;
  border-radius: 32px;

  h2 {
    color: var(--color-bg);

  }

  p {
    color: var(--color-bg);
  }

  .button-nav {
    color: var(--color-bg);
    border: 1px solid var(--color-bg);
  }

  .button-nav:hover {
    color: var(--color-highlight);
  }

  a:hover {
    color: var(--color-main) !important;
  }

  article {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  img {
    max-width: 400px;
    filter: drop-shadow(0px 10px 10px);
    margin-left: auto;
    margin-right: auto;
  }

}

/* Container für Section Feature */

.section-feature-container {
  width: 100%;
  background-color: var(--color-main);
}

/* Section Feature mit 1 Spalte */

.section-feature {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-bg);
  padding-top: 2rem;
  padding-bottom: 2rem;

  p {
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: var(--color-bg);
    color: var(--color-main);

  }
}

/* Section Feature Text unter Video */

.single-column {
  width: 100%;
  max-width: calc(var(--maxwidth)/2);
}

/* Abschnittstrenner mit Linie */

.table-line {
  border-color: var(--color-decoration);
  border-width: 0.5px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

/* Bild */

.img-11-s {
  width: 100%;
  min-width: 280px;
  min-height: 280px;
  border-radius: 0.5rem;
}

/* Bild im Grid */

.img-grid {
  width: 100%;
}

/* Bild mit Untertitel */

figure {
  margin: 0;
  max-width: fit-content;
}

/* Hintergrund Bildunterschrift im Grid */

figure.grid {
  background-color: var(--color-secondary-background);
}

/* Untertitel für Bild*/

figcaption {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0rem;
  color: var(--color-main);
}

/* Bild Social Media Icons */

.icon-social {
  width: 24px;
  height: 24px;
  margin: 0px;
}

/* Footer Container */

footer {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  padding-left: 3vw;
  padding-right: 3vw;
}

/* Footer Container Grid */

.grid-footer {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 0rem;
  column-gap: 0rem;
}

/* Footer Navigation */

.footer-nav {
  display: flex;
  padding-top: 0rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  column-gap: 0rem;
  row-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Footer Navigationselemente */

.footer-nav-item {
  width: 100%;
  text-align: center;
  margin-right: 0rem;
}

/* Footer Socialmedia Icons Container */

nav.footer-social-icons {
  padding-top: 0rem !important;
  text-align: center;
  padding-bottom: 1rem;
}

/* Footer Socialmedia Icons Element */

.footer-social-icons a {
  margin-right: 2rem;
}

/* Footer Socialmedia Icons letztes Element ohne Abstand rechts */

.footer-social-icons a:last-child {
  margin-right: 0rem;
}


/*++++++++++++++++++++++++++++++*/
/*                              */
/* Layout ab 576px Viewport     */
/*                              */
/*++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 576px) {

  /* Hero Image feste Höhe */

  .hero-image {
    height: 600px;
  }

  /* inner Container Abstand nach oben */

  .inner {
    padding-top: 5rem;
  }


  nav a {
    margin-right: 2rem;
  }

  .grid-table-container {
    margin-bottom: 0rem;
  }

  /* Grid mit 2 Spalten */

  .grid-4 {
    grid-template-columns: 49% 49%;
    row-gap: 2rem;
    margin-bottom: 3rem;
  }

  /* Grid mit 2 Spalten */

  .grid-3 {
    grid-template-columns: 49% 49%;
    row-gap: 1rem;
  }

  /* Grid mit 2 Spalten */

  .grid-3350 {
    grid-template-columns: 47.5% 47.5%;
  }

  /* Grid mit 2 Spalten */

  .grid-2 {
    grid-template-columns: 49% 49%;
  }

  /* Grid Feature mit 1 Spalte und Außenabstand */
  .grid-2-feature {
    grid-template-columns: 100%;
    padding: 5%;
    row-gap: 2rem;
  }

  /* Feature Artikel ohne Abstand */

  .grid-2-feature article {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  /* Section Feature Abstand */

  .section-feature {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  /* Überschriften */

  h1 {
    margin-bottom: 0rem;
  }

  h1.single-title {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  h2 {
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }

  h3 {
    font-size: var(--font-tablet);
  }

  h3.grid-item-title {
    font-size: var(--font-tablet);
  }

  /* Schriftgröße Texte */

  p {
    font-size: var(--font-tablet);
  }

  address {
    font-size: var(--font-tablet);
  }

  a {
    font-size: var(--font-tablet);
  }

  /*Spacer */

  .mtb-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .mtb-2 {
    padding-top: 0px;
    padding-bottom: 2rem;
  }

  /* Mindestgroesse Bilder */

  .img-11-s {
    min-width: 266px;
    min-height: 266px;
  }

  /* Abstand Button Link */

  .button-link {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
  }

  /* Abstand Footer */

  footer {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  /* Footer mit 1 Spalte */

  .grid-footer {
    grid-template-columns: 100%;
  }

  .footer-nav {
    column-gap: 2rem;
  }

  .footer-nav-item {
    width: fit-content;
  }
}


/*++++++++++++++++++++++++++++++*/
/*                              */
/* Layout ab 824px Viewport     */
/*                              */
/*++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 824px) {

  /* Top Navigation */

  .topnav-container {
    flex-direction: row !important;
    display: flex !important;
  }

  /* Top Navigation in Reihe */

  .topnav {
    flex-direction: row;
    display: flex !important;
    max-width: var(--maxwidth);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* Top Navigation in Reihe */

  #topNav {
    display: flex !important;
    flex-direction: row;
    column-gap: 4rem;
    padding-top: 0rem;

  }

  /* Top Navigation Link ohne Abstand nach unten */

  .topnav a {
    padding-bottom: 0rem;
  }

  /* Navigation Link Abstand nach Rechnts */

  nav a {
    margin-right: 4rem;
  }

  /* Hamburger Menu Icon ausblenden */

  a#hamburger-menu {
    display: none;
  }

  /* Inner Container Abstand nach oben */
  .inner {
    padding-top: 6rem;
  }

  /* Concert Dates Container Abstand nach oben */

  .grid-table-container {
    margin-bottom: 0rem;
  }

  /* Concert Dates Grid mit 4 Spalten */

  .grid-table-row {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  /* Grid mit 3 Spalten */

  .grid-4 {
    margin-bottom: 4rem;
    grid-template-columns: 32.5% 32.5% 32.5%;
    column-gap: 1.5%;
  }

  /* Grid mit 3 Spalten */

  .grid-3 {
    grid-template-columns: 32% 32% 32%;
  }

  /* Section Grid mit 2 Spalten */

  .grid-3350 {
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
  }

  /* Feature Grid mit 2 Spalten */

  .grid-2-feature {
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
  }

  /* Section Feature Abstand nach oben und unten */

  .section-feature {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  /* Absatz Section Feature Abstand links und rechts */

  .section-feature p {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  /* Überschriften */

  h1.single-title {
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  h2 {
    padding-bottom: 2rem;
  }

  h3 {
    font-size: var(--font-laptop)
  }

  h3.grid-item-title {
    font-size: var(--font-laptop);
  }

  /* Schriftgroesse Absatz */

  p {
    font-size: var(--font-laptop);
  }

  /* Schriftgroesse Adresse */

  address {
    font-size: var(--font-laptop);
  }

  /* Schriftgroesse Link */

  a {
    font-size: var(--font-laptop);
  }

  /* Spacer */

  .mtb-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* Mindestgroesse Bilder */

  .img-11-s {
    min-width: 330px;
    min-height: 330px;
  }

  /* Abstand Link Button */

  .button-link {
    margin-right: 1rem;
    margin-bottom: 0rem;
  }

  /* Abstand Footer */

  footer {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  /* Footer Grid 2 Spalten */

  .grid-footer {
    grid-template-columns: 50% 50%;
  }

  /* Abstand Footer Links */

  .footer-nav {
    margin-left: 0rem;
    margin-right: auto;
    column-gap: 4rem;
  }

  /* Social Media Icons */

  nav.footer-social-icons {
    text-align: right;
  }

}


/*++++++++++++++++++++++++++++++*/
/*                              */
/* Layout ab 1024px Viewport    */
/*                              */
/*++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 1024px) {

  /* Grid mit 4 Spalten */

  .grid-4 {
    grid-template-columns: 24% 24% 24% 24%;
  }
}


/*++++++++++++++++++++++++++++++*/
/*                              */
/* Layout ab 1200px Viewport    */
/*                              */
/*++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 1200px) {

  /* Feste Fontsize h1 

  h1 {
    font-size: 5.75rem;
  }
    */

}