h1.single-title {
  line-height: 1;
  letter-spacing: 0;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: var(--font-weight);
}

h3 {
  font-size: clamp(var(--font-mobile), 2.5vw, var(--font-laptop));
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0;

}

h4 {
  font-size: clamp(var(--font-mobile), 2.5vw, var(--font-laptop));
  line-height: 1.5;
  font-weight: var(--font-weight);
}

h2, h3, h4 {
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}

address {
  color: var(--color-text);
  margin-bottom: 1.5em;

  p {
    margin: 0;
  }

  ul {
    display: block;
  }
}

ol {
  color: var(--color-text);
  font-size: var(--font-laptop);
  padding-bottom: 1.5em;

  li {
    display: list-item;
   margin-left: 1em;
  }

}

article {
  margin-bottom: 32px;
  
  &.imprint, &.imprint p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


@media only screen and (min-width: 576px) {

  article {
    margin-bottom: 48px;
  }

  ol {
    font-size: var(--font-tablet);

  }

  h2, h3, h4 {
    margin-bottom: 1rem;
    padding-bottom: 0rem;
  }

}

@media only screen and (min-width: 824px) {

  h1.single-title {
    margin-bottom: 80px;
  }

h2, h3, h4 {
    margin-bottom: 1.5rem;
    padding-bottom: 0rem;
  }

  ol {
    font-size: var(--font-laptop);

  }

  section {
    padding-bottom: 80px;
  }

}