.inner-single {
  padding-top: 83px;
  margin-top: 2rem;

  @media only screen and (min-width: 824px) {
    margin-top: 5rem;
  }
}

h1 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  line-height: 1;
  letter-spacing: 0;
}

h2 {
  font-size: 1.5rem;
  text-transform: none;
  line-height: 1.5;
  padding-bottom: 1rem;
  letter-spacing: 0;
  font-weight: 100;

}

h3 {
  font-size: clamp(var(--font-mobile), 2.5vw, var(--font-laptop));
  text-transform: none;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  font-weight: 100;
}

h4 {
  font-size: clamp(var(--font-mobile), 2.5vw, var(--font-laptop));
  line-height: 1.5;
  font-weight: 100;
}

ol {
  color: var(--color-text);
  font-size: var(--font-laptop);

}

@media only screen and (min-width: 576px) {
  h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }


  ol {
    font-size: var(--font-tablet);

  }

}

@media only screen and (min-width: 824px) {

  h1 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  ol {
    font-size: var(--font-laptop);

  }

  section {
    margin-bottom: 5rem;
  }

}