.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url("../assets/images/hero/large/hero-music-l.webp");

}

p.grid-text {
  font-size: 16px;
}

section.audio-player {
  margin-bottom: 0px !important
}