/* Variablen Definitionen */
:root {
  /* Farbthema */
  --white: #fcfcfc;
  --graphit: #222222;
  --petrol: #4f6d7a;
  --silver: #eeeeee;
  --black: #010101;
  --dark-grey: #333333;
  --light-grey: #bbbbbb;

  /* NOCH NICHT VERWENDET*/
  --blue: #7a889a;
  --beige: #d4b996;
  --terra: #c17c52;

  /* Hauptfarbe */
  --color-main: var(--white);

  --color-text: var(--light-grey);

  --color-text-feature: var(--graphit);

  --color-main-title: var(--white);

  /* Hintergrundfarbe */
  --color-bg: var(--black);

  /* Hover Farbe */
  --color-highlight: var(--petrol);

  --color-secondary-background: var(--silver);

  --color-decoration: var(--dark-grey);

  /* Animationszeit */
  --transistion-time: 300ms;

  /* Viewport Breiten Media Queries */

  --screen-small: 576px;
  --screen-medium: 824px;
  --screen-big: 1024px;

  /* maximale Breite der Darstellung */
  --maxwidth: 1200px;

  /* Seitenabstand */
  --side-margin: 3vw;

  /*Schriftgröße mobile */
  --font-mobile: 15px;
  /* Schriftgröße tablet */
  --font-tablet: 17px;
  /* Laptop */
  --font-laptop: 18px;

}

/*++++++++++++++++++++++++++++++*/
/*                              */
/*     Body & Header            */
/*                              */
/*++++++++++++++++++++++++++++++*/

body {
  margin: 0px;
  background-color: var(--color-bg);
  font-family: "Roboto";
  font-weight: 200;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Sticky Header mit Menü */

header {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;


  /* Top Navigation Container Mobile */

  .topnavbar {
    background-color: var(--color-bg);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    column-gap: 4rem;
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    width: fit-content;

    @media only screen and (min-width: 824px) {
      flex-direction: row;
      max-width: var(--maxwidth);
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    a {
      font-size: var(--font-laptop);
      width: fit-content;
    }

  }

  /* Top Navigation Menü Link Liste Mobile */

  #topnavmenu {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 4rem;
    width: 100vw;
    visibility: hidden;
    transition: var(--transistion-time);
    transition-property: padding-top;
    padding-top: 0rem;
    height: 0;

    a {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    @media only screen and (min-width: 824px) {
      flex-direction: row;
      padding-top: 0rem !important;
      width: fit-content;
      visibility: visible !important;
      transition: 0ms;
      height: auto;
    }
  }

  /* Hamburger Menu Icon für Mobile Menu */

  #hamburger-menu {
    font-size: 24px !important;
    top: 0px;
    position: absolute;
    right: 0px;
    margin-top: 1.8rem;
    display: block;
    margin-right: var(--side-margin);

    @media only screen and (min-width: 824px) {
      display: none;
    }
  }

}


/* Schriftgestaltung für alle Navigations Items*/

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1;
  transition-property: color;
}



/*++++++++++++++++++++++++++++++*/
/*                              */
/*    Hero Section              */
/*                              */
/*++++++++++++++++++++++++++++++*/

/* Hero Container */

.hero-outer {
  margin-top: 91px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 91px;
  padding-left: 0vw;
  padding-right: 0vw;
}

/* Hero Bild */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url("../img/hero-home-1920.jpg");
  height: calc(100vw + 24px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 576px) {
    height: 600px;
  }

}

/* Position Hero Text */

.hero-text {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  width: 100%;
}

/* Inner Container mit Hero Bild */

.inner {
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-bg);
  padding-top: 2rem;
  position: relative;
  z-index: 1;
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);

  @media only screen and (min-width: 824px) {
    padding-top: 5rem;
  }
}

/* Inner Container ohne Hero Bild */

.inner-single {
  max-width: var(--maxwidth);
  background-color: var(--color-bg);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  padding-top: 91px;
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
}


/*++++++++++++++++++++++++++++++*/
/*                              */
/*     Schrift                  */
/*                              */
/*++++++++++++++++++++++++++++++*/

@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto-VariableFont_wdth\,wght.ttf");
}

/* Seitentitel als Hero Text */

h1 {
  color: var(--color-main);
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 7rem);
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--color-main-title);
  letter-spacing: -0.05em;
  font-family: "Roboto";
  font-weight: 100;
}

/* Seitentitel ohne Hero Bild*/

h1.single-title {
  color: var(--color-main);
  font-size: clamp(2rem, 5vw, 3.5rem);
  letter-spacing: -0.05em;
  font-weight: 100;
  padding: 0;
  margin: 0;
  line-height: 1;
  padding-bottom: 2rem;

  @media only screen and (min-width: 824px) {
    padding-bottom: 5rem;
  }
}

/* Überschrift H2 */

h2 {
  color: var(--color-main);
  padding: 0 0 1rem 0;
  margin: 0;
  font-size: clamp(2rem, 5vw, 4rem);
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-family: "Roboto";
  font-weight: 200;
  line-height: 1;

  @media only screen and (min-width: 576px) {
    padding-bottom: 2rem;
  }

  @media only screen and (min-width: 824px) {
    padding-bottom: 3rem;
  }

  &.heading-text-only {
    padding: 0rem;
  }
}

/* Überschrift H3 */

h3 {
  color: var(--color-main);
  padding: 0;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  font-family: "Roboto";
  letter-spacing: 0.02em;
  font-weight: 400;
}

/* Überschrift H4 */

h4 {
  color: var(--color-main);
  margin: 0;
}

/* Schrift */
p,
address,
a,
h3,
.button-cta,
h3.grid-item-title,
h4,
nav a,
.button-nav {
  font-size: var(--font-mobile);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto";

  @media only screen and (min-width: 576px) {
    font-size: var(--font-tablet);
  }

  @media only screen and (min-width: 824px) {
    font-size: var(--font-laptop);
  }

}

/* Absatz */

p {
  color: var(--color-text);
  padding: 0 0 1rem 0;
  margin: 0;
}

/* Adresse */

address {
  color: var(--color-text);
  margin: 0;
}

/* Link */

a {
  color: var(--color-main);
  transition: var(--transistion-time);
  word-break: break-word;

  &:hover {
    color: var(--color-highlight);
  }
}

/* Link mit Icon .............................*/

.grid-link {
  text-decoration: none;
}

/* Link mit Icon */

.link-with-icon {
  text-decoration: none;
  display: inline-block;

  &:hover {
    padding-left: 4px;
    transition: var(--transistion-time);
  }
}


/* Ausrichtung zentriert */

.center {
  text-align: center;
}


/*++++++++++++++++++++++++++++++*/
/*                              */
/*  Buttons                     */
/*                              */
/*++++++++++++++++++++++++++++++*/


/* Link als Button */

.button-cta {
  display: inline-block;
  background-color: var(--color-highlight);
  color: var(--color-main);
  padding: 0.5em 1em;
  margin: 0;
  text-decoration: none;
  transition: var(--transistion-time);
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: 200;

  &:hover {
    background-color: var(--color-main);
    color: var(--color-text-feature);

  }
}

/* Link als Navigations-Button */

.button-nav {
  color: var(--color-main);
  border: 1px solid var(--color-main);
  padding: 0.5em 1em;
  margin: 0;
  text-decoration: none;
  transition: var(--transistion-time);
  text-transform: uppercase;
  display: inline-block;
  border-radius: 0.5rem;

  &:hover {
    color: var(--white);
    border: 1px solid var(--color-highlight);
    background-color: var(--color-highlight);
  }
}

/* Spacer kein Abstand */

.mtb-0 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Spacer Abstand oben 0 und unten größer*/
.mtb-2 {
  padding-top: 0px;
  padding-bottom: 1rem;

  @media only screen and (min-width: 824px) {
    padding-bottom: 2rem;
  }
}

/* unsortierte Liste ohne Punkte */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*++++++++++++++++++++++++++++++*/
/*                              */
/*   Sections / Grids / Flex    */
/*                              */
/*++++++++++++++++++++++++++++++*/

/* Abschnitt mit Abständen */

section {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 2rem;

  @media only screen and (min-width: 576px) {
    margin-bottom: 5rem;
  }

  @media only screen and (min-width: 824px) {
    margin-bottom: 10rem;
  }
}

/* Grid für bis zu 4 Spalten */

.grid-4 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2rem;
  column-gap: 2%;

  @media only screen and (min-width: 576px) {
    grid-template-columns: 49% 49%;
  }

  @media only screen and (min-width: 824px) {
    grid-template-columns: 32% 32% 32%;
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%
  }

}

/* Grid Container für Concert Dates */

.grid-table-container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 0.5rem;
  margin-bottom: 0rem;

  /* Grid Items für Concert Dates */

  .grid-table-row {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;

    @media only screen and (min-width: 824px) {
      grid-template-columns: 20% 20% 20% 20% 20%;
    }
  }

  section.grid-table-row {
    margin-bottom: 0rem;
  }

  h3,
  p {
    margin: 0rem;
    padding: 0rem;
  }

}


/* 3 Spalten für Text */

.columns-3 {
  columns: 1 auto;
  column-gap: 2rem;

  @media only screen and (min-width: 576px) {
    columns: 2 auto;
  }

  @media only screen and (min-width: 824px) {
    columns: 3 auto;
  }
}

/* Grid mit bis zu 2 Spalten */

.grid-2 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2rem;
  column-gap: 5%;
  justify-content: center;

  @media only screen and (min-width: 576px) {
    grid-template-columns: 47.5% 47.5%;

    .grid-image-right {
      grid-column: 2;
      grid-row: 1;
    }

    .grid-text-left {
      grid-column: 1;
      grid-row: 1;
    }

    article {
      height: fit-content;
      margin-top: auto;
      margin-bottom: auto
    }
  }

  &.grid-text-only {
    row-gap: 1rem;
  }
}

/* Grid Feature mit bis 2 Spalten */

.grid-2-feature {
  display: grid;
  grid-template-columns: 100%;
  background-color: var(--color-secondary-background);
  padding: 2rem;
  row-gap: 2rem;

  h1 {
    color: var(--color-text-feature);
    padding-bottom: 1rem;
  }

  h2 {
    color: var(--color-text-feature);
    ;
  }

  p {
    color: var(--color-text-feature);
  }

  .button-nav {
    color: var(--color-bg);
    border-color: var(--color-bg);
  }

  .button-nav:hover {
    color: var(--color-highlight);
    border-color: var(--color-highlight);
  }

  a:hover {
    color: var(--color-main) !important;
  }

  article {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  img {
    filter: drop-shadow(0px 10px 10px);
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: 824px) {
    padding-top: 5rem;
    padding-right: 5%;
    padding-bottom: 5rem;
    padding-left: 5%;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;

    h1 {
      padding-bottom: 2rem;
    }

    article {
      height: fit-content;
      margin-top: auto;
      margin-bottom: auto
    }
  }
}

/* Container für Section Feature */

.section-feature-container {
  width: 100%;
  background-color: var(--color-bg);

  /* Section Feature mit 1 Spalte */

  .section-feature {
    max-width: calc(var(--maxwidth)/2);
    margin-left: auto;
    margin-right: auto;

    p {
      padding-left: 0rem;
      padding-right: 0rem;

    }
  }

  /* Section Feature Text unter Video 

  .single-column {
    width: 100%;
    max-width: calc(var(--maxwidth)/2);
  }*/
}

/* Abschnittstrenner mit Linie */

.table-line {
  border-color: var(--color-decoration);
  border-width: 0.5px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

nav.link-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  a {
    display: block;
    width: fit-content;
  }
}

/*++++++++++++++++++++++++++++++*/
/*                              */
/*     Bilder & Icons           */
/*                              */
/*++++++++++++++++++++++++++++++*/

/* Bild */

.img-11-s {
  width: 100%;
  border-radius: 0.5rem;
}

/* Bild im Grid */

.img-grid {
  width: 100%;

}



/* Bild mit Untertitel */

figure {

  margin: 0;
  max-width: fit-content;
}

/* Hintergrund Bildunterschrift im Grid */

figure.grid {
 
  a {
    position: relative;
  }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      border: 2px solid white;
      width: fit-content;
  }

  img:hover {
    opacity: 0.5;
    transition-duration: 500ms;
  }

  p {
    padding-bottom: 0;
  }
}

/* Untertitel für Bild*/

figcaption {
  padding: 1rem;
  margin-bottom: 0rem;
  color: var(--color-text);
  text-transform: uppercase;
  line-height: 1.2;

  /* Überschrift H3 */

  h3 {
    text-align: center;
    font-size: var(--font-mobile);
    line-height: 1.2;
    font-weight: 200;
    font-family: "Roboto";
    margin: 0;

    @media only screen and (min-width: 576px) {
      font-size: var(--font-tablet);
    }

    @media only screen and (min-width: 824px) {
      font-size: var(--font-laptop);
    }
  }
  p {
    text-align: center;
    font-weight: 100;
  }

}

/* Icons */

i {

  /* Icon im Button  links */

  &.button {
    padding-right: 1rem;
  }

  /* Icon rechts neben Link */

  &.link {
    padding-left: 0.5rem;
  }

}


/*++++++++++++++++++++++++++++++*/
/*                              */
/*     Footer                   */
/*                              */
/*++++++++++++++++++++++++++++++*/

/* Footer Container */

footer {
  padding: 0rem 0 2rem 0;
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);

  @media only screen and (min-width: 576px) {
    padding-bottom: 5rem;
  }

  @media only screen and (min-width: 824px) {
    padding-bottom: 5rem;
  }

  /* Footer Container Grid */

  .grid-footer {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2rem;
    column-gap: 0rem;

    .copyright {
      grid-column: 1 / -1;
    }

    @media only screen and (min-width: 824px) {
      grid-template-columns: 50% 50%;
      row-gap: 5rem;
    }
  }

  /* Footer Navigation */

  .footer-nav {
    display: flex;
    padding-top: 0rem;
    margin-bottom: 0rem;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: 824px) {
      margin-left: 0rem;
      margin-right: auto;
      column-gap: 4rem;
    }
  }

  /* Footer Navigationselemente */

  .footer-nav-item {
    width: 100%;
    text-align: center;
    margin-right: 0rem;

    @media only screen and (min-width: 576px) {
      width: fit-content;
    }
  }

  /* Footer Socialmedia Icons Container */

  .footer-social-icons {
    padding-top: 0rem !important;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;

    @media only screen and (min-width: 824px) {
      margin-right: 0;
    }
  }

  /* Bild Social Media Icons */

  .icon-social {
    font-size: 20px;
    margin: 0px;

    @media only screen and (min-width: 576px) {
      font-size: 21px;
    }

    @media only screen and (min-width: 824px) {
      font-size: 22px;
    }
  }

}

/*++++++++++++++++++++++++++++++*/
/*                              */
/*     Scroll to Top Button     */
/*                              */
/*++++++++++++++++++++++++++++++*/

#toTopButton {
  display: none;
  /* Hidden by default */
  height: 44px;
  width: 44px;
  position: fixed;
  /* Fixed/sticky position */
  bottom: 1rem;
  /* Place the button at the bottom of the page */
  right: 3vw;
  /* Place the button 3vw from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  padding-top: 2px;
  text-align: center;
  border: solid 2px;
  border-radius: 50%;
  /* rund */
  background-color: var(--color-decoration);
  /* Set a background color */
  color: var(--color-text);
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  font-size: 16px;
  /* Increase font size */
  opacity: 0.8;
  /* leicht transparent */
  transition: var(--transistion-time);
  transition-property: background-color;

  &:hover {
    background-color: var(--color-highlight);
    /* Add highlight color on hover */
    opacity: 1;
    /* ohne Transparenz */
  }
}