.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url("img/hero-live-performance-1920.jpg");

}


#video {
  --videowidth: 600px;
  width: 100%;
  height: calc(var(--videowidth) / 16 * 9);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;


}